@*@model IEnumerable<VideoSIte.Models.Video>*@
@model VideoSIte.ViewModels.VideoIndexData
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="~/admin/UserAdmin/Index/">User</a></li>
    <li role="presentation" class="active"><a href="~/admin/Videos/Index/">Videos</a></li>
    <li role="presentation"><a href="~/admin/Categories/Index/">Categories</a></li>
</ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Video Name
        </th>
        <th>
            Date Added
        </th>
        <th>
            Categories
        </th>
    </tr>

@foreach (var item in Model.Videos)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VideoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @{ 
                foreach (var category in item.Categories)
                {
                    @category.CatId @: @category.CatName <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VideoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VideoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VideoId })
        </td>
    </tr>
}

</table>

